<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Support</span>
    </div>
    <div *ngIf="loggedIn()" id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/tickets">Tickets list</a></li>
        <li><a routerLink="/tickets/new">Create new ticket</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{username()}}</a></li>
        <li><a routerLink='/sign_in'>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="inner-container">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
