<div class="col-md-8 col-md-offset-2">
  <h3 class="title">Post new answer</h3>
  <form (ngSubmit)="submitAnswer()" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="answer_description">Answer text</label>
      <textarea type="text" class="form-control" id="answer_description" name="description" [(ngModel)]="model.description" #description="ngModel" required></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-default" [disabled]="!f.form.valid">Submit</button>
    </div>
  </form>
</div>
