<form (ng-submit)="f.form.valid && login()" class="form-horizontal" #f="ngForm" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
    <label for="user_email" class="col-sm-2 control-label">Email address</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="user_email" name="email" [(ngModel)]="model.email" #email="ngModel" required />
      <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
    </div>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="user_password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="user_password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
